@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --page-padding: 8px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background: #F2F2F2;
}

.page-content {
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 48px var(--page-padding) 0 var(--page-padding);
}

.total-balance_container {
    width: 100%;
    height: fit-content;
    /* padding: 8px; */
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.balance-header {
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 0 8px;
}

.round-button {
    width: 56px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.round-button.light {
    background-color: #ffffff;
    border: 2px solid #F0F0F0;
}

.balance-header .round-button.light svg {
    width: 28px;
    height: 28px;
}

.round-button svg {
    width: 24px;
    height: 24px;
    fill: #000000;
}

.round-button img {
    width: 48px;
    aspect-ratio: 1/1;
}

.balance-user {
    display: flex;
    gap: 12px;
    align-items: center;
}

.balance-user span {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.total-balance_buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 16px 16px 16px;
}

.balance-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.total-balance_buttons span {
    font-size: 13px;
    text-wrap: nowrap;
    color: #000000;
    font-weight: 500;
}

.total-balance {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 16px;
}

.total-balance span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: #464a57;
    font-weight: 500;
}

.total-balance span svg {
    width: 16px;
    height: 16px;
    fill: #464a57;
}

.total-balance h2 {
    font-size: 36px;
    color: #000000;
    font-weight: 400;
}

.categories-menu {
    margin-top: 8px;
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 12px;
}

.category-button {
    padding: 8px;
    border: none;
    background-color: inherit;
    border-radius: 12px;
    color: #86888e;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Inter';
}

.category-button.active {
    background-color: #EBEBEB;
    color: #000000;
    font-weight: 700;
}

.crypto-prices_container {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: clip;
    width: 100%;
    gap: 8px;
}

.crypto-price_card {
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.crypto-logo {
    width: 56px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    margin: 8px 8px 0 8px;
}

.crypto-balance {
    margin: 32px 16px 0 16px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.crypto-price {
    margin: 8px 16px 16px 16px;
    display: flex;
    justify-content: space-between;
}

.dollar-price {
    /* color: #a2a4aa; */
    color: #86888e;
    font-size: 12px;
    font-weight: 500;
}

.percent {
    color: #29cf9d;
    font-size: 12px;
    font-weight: 500;
}

.recent-transactions {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 56px; */
}

.recent-transactions_title {
    font-size: 14px;
    margin: 24px 16px 0 16px;
    font-weight: 500;
}

.recent-transactions_container {
    margin-top: 12px;
    background-color: #ffffff;
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.round-button.grey {
    background-color: #EBEBEB;
    border: none;
}

.transaction-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    width: 100%;
}

.transaction-info div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.transaction-title {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.transaction-data {
    color:#86888e;
    font-size: 11px;
    font-weight: 500;
}

.transaction-amount {
    color: #29cf9d;
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 4px 0 24px 0;

    margin: 0 auto;
    left: 0;
    right: 0;

}

.footer-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.footer-menu button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #86888e;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Inter';
}

.menu-button.active {
    color: #000000;
}

.menu-button svg {
    width: 24px;
    height: 24px;
    fill: #86888e;
}

.menu-button.active svg {
    fill:#000000;
}

.exchange-page .round-button svg {
    width: 20px;
    height: 20px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

}

.page-title {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.exchange-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 88px;
}

.crypto-exchange_container {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.crypto-exchange_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crypto-exchange_header div {
    display: flex;
    align-items: center;
    margin: 8px 0 0 8px;
    gap: 8px;
}

.crypto-exchange_header .crypto-logo {
    margin: 0;
}

.select-currency {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;
}

.select-currency svg {
    width: 16px;
    height: 16px;
    fill: #464a57;
}

.exchange-status {
    color: #86888e;
    border: 2px solid #F2F2F2;
    padding: 8px 12px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 16px 0 0;
}

.exchange-amount {
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    margin: 0 auto;
}

.exchange-balance {
    margin: 16px auto 24px auto;
    font-size: 13px;
    font-weight: 500;
    color:#000000;  
}

.colortext {
    color: #86888e;
}

.transfer-button {
    background-color: #5E52F1;
    border: none;
    border-radius: 24px;
    padding: 16px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 500;
}

.exchange-info {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(219, 219, 219);
    background-color: #F2F2F2;
    padding: 16px;
    border-radius: 32px;
    gap: 12px;

}

.exchange-info_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.exchange-content .round-button.grey {
    position: absolute;
    margin-top: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containers {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
 

